<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        {%if messages%}
        {%for msg in messages%}
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8"> {{msg}}</div>
          <div class="col-2"></div>
        </div>
        {%endfor%}
      {%endif%}
    </div>
    <div class="container">
        {%for emp in employee%}
        <div class="row mt-5">
            <div class="col-4"></div>
            <div class="col-4">
                    <table class="table table-dark table-striped ">
                        <tr>
                            <th>Employee_id</th>
                            <th>name</th>
                            <th>email</th>
                            <th>contact</th>
                        </tr>
                        <tr>
                            <td>{{emp.id}}</td>
                            <td>{{emp.name}}</td>
                            <td>{{emp.email}}</td>
                            <td>{{emp.contact}}</td>
                            
                        </tr>
                    </table>
             
            </div>
            <div class="col-4"><a href="{%url 'empupdate' emp.id%}" class="btn btn-info">update</a>
                <a href="{%url 'delete' emp.id%}" class="btn btn-danger">delete</a>
            </div>
        </div>
        {%endfor%}
    </div>
</body>
</html>